@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cormorant Garamond', serif;
}

.marco-decorativo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/marco.png');
  background-size: cover; /* Asegura que cubra todo el fondo */
  pointer-events: none; /* Esto evita que el marco interfiera con los elementos interactivos */
  z-index: 1; /* Coloca el marco encima del fondo */
}

.header-marco {
  position: relative;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.3), /* Borde interior más delgado y suave */
              inset 0 0 0 10px rgba(255, 255, 255, 0.1), /* Segundo borde más sutil */
              0 0 10px rgba(0, 0, 0, 0.3); /* Sombra exterior más suave */
  border-radius: 8px; /* Redondeado más suave */
}

.header-marco-dark {
  position: relative;
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.4), /* Borde interior oscuro */
              inset 0 0 0 10px rgba(0, 0, 0, 0.2), /* Segundo borde más oscuro */
              0 0 10px rgba(0, 0, 0, 0.5); /* Sombra exterior oscura */
  border-radius: 8px; /* Bordes redondeados */
}

.header-marco-dark-no-top {
  position: relative;
  box-shadow: 
    inset 0 -5px 0 5px rgba(0, 0, 0, 0.4), /* Borde interior oscuro solo en los lados y abajo */
    inset 0 -5px 0 5px rgba(0, 0, 0, 0.2), /* Segundo borde más oscuro solo en los lados y abajo */
    0 0 5px rgba(0, 0, 0, 0.5); /* Sombra exterior oscura */
  border-radius: 8px; /* Bordes redondeados */
}

.header-marco-dark-no-bottom {
  position: relative;
  box-shadow: 
    inset 0 5px 0 5px rgba(0, 0, 0, 0.4), /* Borde interior oscuro solo en los lados y arriba */
    inset 0 5px 0 5px rgba(0, 0, 0, 0.2), /* Segundo borde más oscuro solo en los lados y arriba */
    0 0 5px rgba(0, 0, 0, 0.5); /* Sombra exterior oscura */
  border-radius: 8px; /* Bordes redondeados */
}

.aura-pulse {
  position: relative;
  animation: aura 2s infinite;
}

@keyframes aura {
  0% {
    box-shadow: 0 0 10px rgba(79, 121, 66, 0.5), 0 0 20px rgba(79, 121, 66, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(79, 121, 66, 0.4), 0 0 30px rgba(79, 121, 66, 0.3);
  }
  100% {
    box-shadow: 0 0 10px rgba(79, 121, 66, 0.5), 0 0 20px rgba(79, 121, 66, 0.4);
  }
}
